{% extends 'User/Header.html' %}
{% load static %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            {%  for i in team %}
            <div>Photo: <img src="{{i.team.team_photo}}" width="100" height="100" alt=""></div>
            <div>Name:{{i.team.team_name}}</div>
            <div>Address:{{i.team.team_address}}</div>
            <div>Email:{{i.team.team_email}}</div>
            <div>Contact:{{i.team.team_contact}}</div>
            <div><a href="{% url 'webuser:memberreq' i.id %}">Request</a></div>
            {% endfor %}
        </div>
    </form>
</body>
</html>
{% endblock content %}