{% extends 'User/Header.html' %}

{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div align="center">
            {% for i in event_data %}
            <div>Event Type: {{i.Etypedata.Event_type}}</div>
            <div>Name: {{i.event_data.event_name}}</div>
            <div>Description: {{i.event_data.description}}</div>
            <!-- <div>Slots Remaining: {{i.event_data.event_count}}</div> -->
          
            
            {% endfor %}
        </div>
    </form>


    {% if msg %}
    <script>
        alert ("{{msg}}")
        window.location = "{% url 'webteams:viewevent' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}