<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        
        <table cellpadding="10">
            <tr>
                <td colspan="5" align="right">
                    {% if event_count == 0 %}
                      <a href="{% url 'weborganizer:schedule' %}">Schedule</a>
                    
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Date</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
            {% for i in accept %}
            <tr>
                <td>{{forloop.counter}}</td>
               <td>{{i.team.team_name}}</td>    
               <td>{{i.accept.request_date}}</td>
               <td>{{i.accept.request_status}}</td>
               <td>
                    <a href="{% url  'weborganizer:rejected' i.id %}">Reject</a>
                    <a href="{% url 'weborganizer:chat' i.accept.team_id %}">Chat</a>
                </td>
               
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>