<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Eventtype</td>
                <td><select name="etype" id=""><option value="">---Select---</option>
                    {% for i in Etype %}
                    <option
                    {% if i.id == event_data.Eventtype_id %}
                    selected
                    {% endif %}
                    value="{{i.id}}">{{i.Etype.Event_type}}</option>
                {% endfor %}</select></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" name="ename" id="" value="{{eventdata.event_name}}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea name="description" id="" cols="30" rows="10">{{eventdata.description}}</textarea></td>
            </tr>
            <tr>
                <td>Count</td>
                <td><input type="number" name="count" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Submit"><input type="reset" value="Reset"></td>
                <td></td>
            </tr>
            
        </table>
    </form>

    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Count</td>
            <td>Action</td>
        </tr>
        {% for i in event_data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.event_data.event_name}}</td>
            <td>{{i.event_data.description}}</td>
            <td>{{i.event_data.event_count}}</td>
            <td><a href="{% url 'weborganizer:editevent' i.eventid %}">Edit</a></td>
            <td><a href="{% url 'weborganizer:delevent' i.eventid %}">Delete</a></td>
            
        </tr>
        {% endfor %}
    </table>
</body>
</html>