<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'weborganizer:event' %}">Event</a>
    <a href="{% url 'weborganizer:viewreq' %}">View Request</a>
   
    
    <a href="{% url 'weborganizer:complaint' %}">complaint</a>
    <a href="{% url 'weborganizer:feedback' %}">feedback</a>

</body>
{% if msg %}s
<script>
    alert("The Password Reset Link Is sented to {{msg}}")
    window.location = "{% url 'weborganizer:homepage' %}"
</script>
{% endif %}
</html>