{% extends 'Organizer/Header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="post">
        
        <table>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Date</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
            {% for i in view %}
            <tr>
                <td>{{forloop.counter}}</td>
               <td>{{i.team.team_name}}</td>
               <td>{{i.view.request_date}}</td>
               <td>{{i.view.request_status}}</td>
               <td><a href="{% url 'weborganizer:accepted' i.id %}">Accept</a>
               <a href="{% url  'weborganizer:rejected' i.id %}">Reject</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock content %}