{% extends 'Organizer/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <table cellpadding="10">
        <tr>
            <th>#</th>
            <th>Content</th>
            <th>Date</th>
            <th>Reply</th>
        </tr>
        {% for i in com %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.complaint.complaint_content }}</td>
            <td>{{ i.complaint.complaint_date }}</td>
            <td>
                {% if i.complaint.complaint_reply %}
                <span class="replyed">{{ i.complaint.complaint_reply }}</span>
                {% else %}
                <span class="reply-not">Not Replyed</span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

{% endblock content %}